
body{/*background:#FFD400;background: url("/images/htmlbg.jpg") repeat-x scroll left top transparent*/;width:100%;/*height:910px;*/}

body.normalpage {/*background:url(/images/normalhtml.jpg) left top repeat-x;width:100%;heigth:50px;*/}
body.normalpage #page {/*background:url(/images/normalheader.jpg) center top no-repeat; height:14.285714285714%;width:100%;*/}

ul{list-style-type: none;padding:18px 18px 18px 7%;}
ul li {
    display : inline-block;    
    font-family: Verdana,Geneva,sans-serif;
    font-size: 162.5%;
    /*padding:0px 20px;*/
}

#page {width:100%; height:17.142857142857%; /*background: url(/images/headerbg.jpg) center top no-repeat*/; margin: 0; padding: 0;width:100%}
body #page {background:url(/images/normalheader.jpg) center top no-repeat;width:100%;height:150px; }

#container{ /*background: url("/images/wrapbg.png") no-repeat scroll center top transparent;width:100%;*/}

header #logo{float:left;width:71.428571428571%;border:1px solid black;}
header #loginArticle{margin:2.857142857143%; padding:0px;overflow: auto;float:none;}
#basketArticle{margin:0px; padding:0px;overflow: auto;float:none;}
header #rightSection{float:right;width:20%; min-width: 175px;}

section#content{float:left;width:75%;}

section#content li{display:block;/*border:1px solid red;*/margin-left:2.857142857143%;}
/*section#content li:first-child{margin-left:0;}*/
footer{float:left;width:100%;background:#000;color:white;}

#top nav {
    font-family: 'TeXGyreAdventor',Arial,sans-serif;
    height: 74px;
    margin: 0 auto;
    width: 90%;
}
#top > a  {
    width: 80%;
}
.clear{clear:both;}
/* Hide */
.hidden{display:none;}

#contents { margin:0 26px 0 26px; padding:45px 0px 0 0px; background:url(/images/wraptop.jpg) 0 30px repeat-x; min-height:300px;width:100% }

#sitename a {
    /*background: url("/images/portfoliologo.gif") no-repeat scroll 0 0 transparent;*/
    background: url("/images/images.jpg") no-repeat scroll 0 0 transparent;
    background-size:80px 60px;
    display: block;
    float: left;
    height: 74px;
    overflow: hidden;
    text-indent: -5000px;
    width: 100%;
}

#bodywrap {
    margin: 0 auto;
    width: 90%;
    padding: 0;
}

section, header, footer, article, nav {
    display: block;
}

#top {
    height: 120px;
    width:100%
}

body {
    color: #333333;
    font-family: Verdana,Geneva,sans-serif;
    font-size: 62.5%;
}

#sitename {
    display: block;
    float: left;
    padding: 0px 0 0;
}
#productArticle{
    float:left;border:1px solid black;margin:10px; padding:30px;height:50px;
}

#tbl_basket {
    border: 1px solid black;
    border-collapse: collapse;
}

.td_basket {
    width:50px;
    border:1px solid black;
}

* {
    margin: 0;
    padding: 0;
}
.borders {
    width:400px;
}

#categorySection {
    width:150px;
}

#categorySection a{
	display:block;
	text-decoration: none;
	background-color:#dddddd;
        /*width:19%;*/
}
#categorySection a:hover{
    background:gray;
}
#categorySection ul{
    padding: 0px 0px 0px 0px;
    float: left;
}
nav a{
    display:block;
    width:150px;
    text-decoration: none;
}
nav a:hover{
    background:gray;
}
#productSection {
    float:left;width:60%;
}
#searchArticle{ 
    overflow: auto;
    /*padding: 2.85px 2.85px 2.85px 2.850px;*/
    float:none;
    border: 1px solid black;
}
#orderArticle{ 
    overflow: auto;
    padding: 20px 20px 20px 20px;
    float:none;
}
.photoImage{
    width:50px;
}